:root {
  --font: Arial, system-ui, sans-serif;
  --searchbar-padding: 2px;
  --input-padding-vertical: 11px;
  --transition-duration: 0.2s;
  --min-width: 700px;
  --services-gap: 15px;
  --service-icon-wh: 17px;
}
* {
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: var(--font);
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #0054b9;
  transition: color var(--transition-duration) ease-in-out, scale var(--transition-duration) ease-in-out;
}
a:visited {
  /*color:#a58bdd;*/
  /* отключено, так-как на всех ссылках стоит # */
}
a:hover {
  color: #c00;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.main__container {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

main {
  
  width: var(--min-width);
  justify-content: flex-start;
  display: flex;
height:fit-content;
  gap: 20px;
}
.main__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(
    var(--searchbar-padding) * 2 + var(--input-padding-vertical) * 2 + 25px
  ); /* line-height*/
}
.main__logo img {
  height: 28px;
}
.main__right {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
}
.right__text > h1 {
  margin-top: 3px;
}
.right__searchbar {
  background-color: #fc0;
  border-radius: 8px;
  padding: var(--searchbar-padding);
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition-duration:var(--transition-duration);
  transition-timing-function:ease-in-out;
  transition-property:background-color,transform,box-shadow;
}

.right__searchbar:focus-within{
  transform:scale(103%);
  box-shadow:0 0 8px rgba(0,0,0,0.1);
}
.right__searchbar:focus-within .searchbar_button {
  background-color:#fc0;
}
.searchbar__input {
  font-family: var(--font);
  border: none;
  flex-grow: 1;
  margin: 0;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: var(--input-padding-vertical) 10px;
}
.searchbar__button {
  font-family: var(--font);
  border: none;
  border-radius: 10px;
  margin-left: 3px;
  padding: 5px 10px;
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  transition: background var(--transition-duration) ease-in-out, transform var(--transition-duration) ease-in-out;
}
.searchbar__button:hover {
  background-color: #f1c205;
}
.searchbar__button:active, .searchbar__button:focus{
  transform:scale(95%);
}
.right__services {
  display: flex;
  flex-direction: column;
  gap: var(--services-gap);
  flex-wrap: wrap;
  max-height: calc((var(--service-icon-wh) + var(--services-gap)) * 4);
}
.services__item {
  display: flex;
  gap: 10px;
  max-height: fit-content;
  gap: 10px;
}
.services__item p {
  margin: 0;
}
.services-item__icon {
  width: var(--service-icon-wh);
  height: var(--service-icon-wh);
  min-width: var(--service-icon-wh); /* чтобы иконка не сужалась */
}
.services-item__icon img {
  width: 100%;
  height: 100%;
}
.link-gray {
  color: #999;
}
footer {
  position: fixed;
  bottom: 30px;
  left:calc((100% - var(--min-width)) / 2);
  
  width: 100%;
}
.footer__links {
  display: flex;
  gap: 20px;
}
